README.md
env.share
*.py
TODO.txt

/extraction/venv/
/extraction/__pycache__/
/extraction/*.log
/extraction/*.png
/extraction/downloads/
/extraction/imagens/
/extraction/hekt

/backend/models/__pycache__
/backend/hekt
/backend/hekt2